#semafor{
    float:left;
    width: 70px;
    height: 210px;
    border: 2px solid white; 
    border-radius: 25px;
    margin-left: 500px;
    background-color:rgb(20, 19, 19);

}
.boje{
    width: 60px;
    height: 60px;
    border: 2px solid white;
    border-radius: 60px;
    margin: 3px;

}
#semafor1{
    float:right;
    width: 70px;
    height: 210px;
    border: 2px solid white;
    border-radius: 25px;
    margin-right: 500px;
    background-color:rgb(20, 19, 19);

}
.boje1{
    width: 60px;
    height: 60px;
    border: 2px solid white;
    border-radius: 60px;
    margin: 3px;

}
